body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #1ccceb;
}

header {
  background: #061577;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
}

.btn {
  background: #2c7be5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.campaigns {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 5px;
}

button {
  background: #2016df;
  color: rgb(237, 232, 232);
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.form {
  background: rgb(116, 208, 233);
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
